//GLOBAL STYLES
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	background-size: cover;
	background-repeat: no-repeat;

	font-family: monospace;
}

//MIXIN
@mixin flexcenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

//MAIN CSS
.landing-page {
	//overflow-x: hidden;
	height: 100vh;
	width: 100%;
	background-color: #fff;

	@include flexcenter();
	flex-direction: column;

	p {
		margin-bottom: 100px;
		font-size: 5rem;
	}

	input {
		width: 600px;
		padding: 15px 20px;
		background-color: #e7e4e4;

		font-size: 1.5rem;
		font-weight: 500;

		border: none;
		outline: none;
		border-radius: 10px;
	}

	button {
		margin-top: 30px;
		padding: 15px 30px;
		background-color: #000;

		color: #fff;
		font-size: 1.3rem;
		font-weight: 600;
		letter-spacing: 1px;

		border-radius: 10px;
		border: none;
		outline: none;

		transition-duration: 300ms;

		&:hover {
			cursor: pointer;
		}

		&:active {
			transform: scale(0.9);
		}
	}
}
